<%- include('partials/header.ejs') %>


    <h1 class="bio" id="characters">Bekijk je geblackliste Fortnite-avatars!</h1>

        <%if(profile.blacklistCharacter !==undefined){%>

            <section class="characters-list">

                <% for (let character of profile.blacklistCharacter) { %>
                    <article class="cards-list" data-rarity="<%= character.rarity.value %>"
                        data-added="<%= character.added %>">


                        <div class="card-item">
                            <p class="reason">
                                <% if (character.reason) { %>
                                    <%= character.reason %>
                                        <% } else { %>
                                            Geen reden
                                            <% } %>
                            </p>

                            <div class="card_photo">
                                <img src="<%= character.images.icon %>" alt="Skinfoto"
                                    style="background-image: url('../assets/images/<%= character.rarity.value %>.webp');">
                            </div>
                            <div class="card_name">
                                <p>
                                    <%= character.name %> <br>
                                </p>

                                        <form action="/deleteblacklist/<%= character.id %>" method="post">
                                            <button name="deleteblacklist" value="<%= character.id%>" class="cross"
                                                style="color: red;">
                                                ✖
                                            </button>
                                        </form>

                                        <form action="/changereason/<%= character.id %>" method="post">
                                            <button id="showInputButton"> <img src=" /assets/icons/edit.svg" alt="edit"
                                                    width="25px"></button>
                                            
                                            <div id="inputContainer">
                                                <input type="text" name="newreason" placeholder="Verander reden..." required>
                                            </div>
                                            
                                        </form>

                            </div>
                        </div>
                    </article>
                    <% } %>
            </section>
            <%}%>

                <%- include('partials/footer.ejs') %>