<%- include('partials/header.ejs') %>
<script src="js/searchSkin.js" defer></script>
<script src="js/filterbyRarity.js" defer></script>
<script src="js/sortOptions.js" defer></script>
<main>
    <h1 class="bio">Bekijk je geblackliste Fortnite-avatars!</h1>
    <%- include('partials/sortfunctions.ejs') %>
        <%if(profile.blacklistCharacter !==undefined){%>

            <section class="characters-list" id="characters">

                <% for (let character of profile.blacklistCharacter) { %>
                    <article class="cards-list card-listB" data-rarity="<%= character.rarity.value %>" data-added="<%= character.added %>"
                        style="margin-top: 3rem;">
                        <div class="card-item card-itemB"
                        style="border-radius: 20px;" >
                            <div class="card_photo card_photoB" style="border-radius: 20px;">
                                <img src="<%= character.images.icon %>" alt="Skinfoto" class="card-img card-imgB" style="background-image: url('../assets/images/<%= character.rarity.value %>.webp');">
                                <div class="overlay">
                                    
                                    <div class="textB">
                                        <h1>Reden:</h1>
                                        <%= character.reason %></div>
                                </div>
                            </div>
                            <div class="card_name">
                                <p>
                                    <%= character.name %> <br>
                                </p>
                    
                                <div class="blacklistoptions">
                                    <form action="/deleteblacklist/<%= character.id %>" method="post">
                                        <button name="deleteblacklist" value="<%= character.id %>" class="cross" style="color: red;">
                                            ✖
                                        </button>
                                    </form>
                                    <form action="/changereason/<%= character.id %>" method="post">
                                       
                                        <div id="inputContainer" class="comment-form textareaB">
                                            <input type="textarea" name="newreason" placeholder="Verander reden..." required >
                                            <button id="showInputButton" class="cross">
                                                <img src="/assets/icons/edit.svg" alt="edit" width="25px">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>
                    
                    <% } %>
            </section>
        </main>
            <%}%>

                <%- include('partials/footer.ejs') %>