<%-include("partials/header.ejs") %>
<main>
    <section class="container">
        <a href="/index"><img src="/assets/icons/goback.png" alt="goback"></a>
        <article>
            <h2>
                <%= character.name %>
            </h2>
            <img src="<%= character.images.featured %>" alt="Skinfoto"
                style="background-image: url('../assets/images/<%=character.rarity.value%>.webp');" class="rarity">
            <h3 class="picturecolor"
                style="background-image: url('../assets/images/<%= character.rarity.value %>.webp') ;">
                <%= character.rarity.displayValue %>
            </h3>
            <button class="button-48"><span class="text">gebruiken als avatar</span></button>
            <button class="button-48"><span class="text">zet in favorieten</span></button>
            <button class="button-48"><span class="text">zet in blacklist</span></button>
        </article>
        <article>
            <h2>Informatie</h2>
            <div class="description">
                <p>
                    Naam <br> <%= character.name %>
                </p>
                <p>
                    Zeldzaamheid <br> <%= character.rarity.displayValue %>
                </p>
                <p>
                    Descriptie <br> <%= character.description %>
                </p>
                <p>
                    Seizoen <br> Geïntroduceerd in Chapter <%= character.introduction.chapter %>, Seizoen <%= character.introduction.season %>.
                </p>
                <div>
                    <p>Varianten</p>
                    <% if (character.variants && character.variants.length > 0) { %>
                        <% character.variants.forEach(variant => { %>
                            <% if (variant.options && variant.options.length > 0) { %>
                                <% variant.options.forEach(option => { %>
                                    <img src="<%= option.image %>" alt="variants">
                                <% }); %>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <p>Geen varianten beschikbaar</p>
                    <% } %>
                </div>
                
                

            </div>
        </article>
    </section>
</main>
<%- include("partials/footer.ejs") %>