<%- include('partials/header.ejs') %>
    <h1 class="bio">Verken je Fortnite-avatars: bekijk ze van dichterbij voordat je gaat vechten!</h1>


    <section class="container">
        <a href="/favoritepagina"><img src="/assets/icons/goback.png" alt="goback"></a>
        <article>
            <h2>
                <%= character.name %>
            </h2>
            <img src="<%= character.images.featured %>" alt="Skinfoto"
                style="background-image: url('../assets/images/<%=character.rarity.value%>.webp');" class="rarityDet">
            <h3 class="picturecolor"
                style="background-image: url('../assets/images/<%= character.rarity.value %>.webp') ;">
                <%= character.rarity.displayValue %>
            </h3>
            <div class="description">
                <h3>
                    <%= character.description %>
                </h3>
                <h3>
                    Geïntroduceerd in Chapter <%= character.introduction.chapter %>, Seizoen <%= character.introduction.season %>.
                </h3>
            </div>

            <form class="comment-form">
                <textarea name="comment" placeholder="Voeg commentaar toe aan je favoriete skin..."></textarea>
                <button class="button-48" role="button"><span class="text">Voeg toe</span></button>
            </form>
        </article>
        <article>
            <h2>Scoreboard</h2>
            <div class="row scoreboard">
                <div class="score">
                    <p>Aantal gewonnen</p>
                    <p>9</p>
                    <div class="row">
                        <img src="/assets/icons/circle-plus-solid.svg" alt="AddWin">
                        <img src="/assets/icons/circle-minus-solid.svg" alt="AddLoss">
                    </div>
                </div>
                <div class="score">
                    <p>Aantal verloren</p>
                    <p>5</p>
                    <div class="row">
                        <img src="/assets/icons/circle-plus-solid.svg" alt="AddWin">
                        <img src="/assets/icons/circle-minus-solid.svg" alt="AddLoss">
                    </div>
                </div>
            </div>
            <h2>Kies je uitrustingen</h2>
            <div class="row">
                <div class="score">
                    <img src="/assets/images/mysteryitem.webp" alt="emote">
                    <button class="button-48" role="button"><span class="text">Kies wapen</span></button>
                </div>
                <div class="score">
                    <img src="/assets/images/mysteryitem.webp" alt="pump">
                    <button class="button-48" role="button"><span class="text">Kies emoticon</span></button>
                </div>
            </div>
        </article>
    </section>
    <%- include('partials/footer.ejs') %>