<%- include('partials/header.ejs') %>
    <script src="/js/changeScore.js" defer></script>
    <h1 class="bio">Verken je favoriete Fortnite-avatars. <br> Bekijk ze van dichtbij!</h1>


    <section class="container">
        <a href="/favoritepagina"><img src="/assets/icons/goback.png" alt="goback"></a>
        <article>
            <h2>
                <%= character.name %>
            </h2>
            <img src="<%= character.images.featured %>" alt="Skinfoto"
                style="background-image: url('../assets/images/<%=character.rarity.value%>.webp');" class="rarity">
            <h1 class="outfitrarity"
                style="background-image: url('../assets/images/<%= character.rarity.value %>.webp') ;">
                <%= character.rarity.displayValue %> <span style="color: white;">outfit</span>
            </h1>
            <div class="description">
                <h3>
                    <%= character.description %>
                </h3>
                <h3>
                    Geïntroduceerd in Chapter <%= character.introduction.chapter %>, Seizoen <%=
                            character.introduction.season %>
                </h3>
            </div>

            <form class="comment-form">
                <textarea name="comment" placeholder="Voeg commentaar toe aan je favoriete skin..."></textarea>
                <button class="button-48" role="button"><span class="text">Voeg toe</span></button>
            </form>
        </article>
        <article>
            <h2>Scoreboard</h2>
            <div class="row scoreboard">
                <div class="score">
                    <p>Gewonnen</p>
                    <p id="winCount">
                        <%= character.wins %>
                    </p>
                    <div class="row">
                        <img src="/assets/icons/circle-plus-solid.svg" alt="AddWin" class="add" onclick="addWin()">
                        <img src="/assets/icons/circle-minus-solid.svg" alt="AddLoss" class="add" onclick="removeWin()">
                    </div>
                </div>
                <div class="score">
                    <p>Verloren</p>
                    <p id="lossCount">
                        <%= character.losses %>
                    </p>
                    <div class="row">
                        <img src="/assets/icons/circle-plus-solid.svg" alt="AddWin" class="add" onclick="addLoss()">
                        <img src="/assets/icons/circle-minus-solid.svg" alt="AddLoss" class="add"
                            onclick="removeLoss()">
                    </div>

                </div>

            </div>
            <form action="/detailpagina/<%= character.id %>" method="post">
                <input type="hidden" id="winCountInput" name="winCount" >
                <input type="hidden" id="lossCountInput" name="lossCount">
                <button class="button-48" role="button"><span class="text">Opslaan</span></button>
            </form>


            <h2>Kies je uitrusting</h2>
            <div class="row">
                <div class="score">
                    <img src="<%= character.pickaxe %>" alt="emote" class="item">
                    <button class="button-48" role="button"><span class="text">Kies wapen</span></button>
                </div>
                <div class="score">
                    <img src="<%= character.backpack %>" alt="pump" class="item">
                    <button class="button-48" role="button"><span class="text">Kies rugzak</span></button>
                </div>
            </div>
        </article>
    </section>
    <%- include('partials/footer.ejs') %>