<%- include('partials/header.ejs') %>
    <script src="/js/changeScore.js" defer></script>
    

    <section class="container">
        <a href="/favoritepagina"><img src="/assets/icons/goback.png" alt="goback" id="characters"></a>
        <article>
            <h2 >
                <%= character.name %>
            </h2>
            <img src="<%= character.images.featured %>" alt="Skinfoto"
                style="background-image: url('../assets/images/<%=character.rarity.value%>.webp');" class="rarity">
            <h1 class="outfitrarity"
                style="background-image: url('../assets/images/<%= character.rarity.value %>.webp') ;">
                <%= character.rarity.displayValue %> <span style="color: white;">outfit</span>
            </h1>
            <div class="description">
                <h3>
                    <%= character.description %>
                </h3>
                <h3>
                    Geïntroduceerd in Chapter <%= character.introduction.chapter %>, Seizoen <%=
                            character.introduction.season %>
                </h3>
                <% if (character.comment && character.comment !=="" ) { %>
                    <h3> <br> <br>
                        Notitie: <%= character.comment %>

                            <form action="/deletecomment/<%= character.id %>/" method="post">
                                <button name="deletecomment" value="<%= character.deletecomment %>" class="cros"
                                    style="color: red;">
                                    ✖
                                </button>
                            </form>

                    </h3>
                    <% } %>
            </div>

            <% if (!character.comment || character.comment === "") { %>
                <form class="comment-form" action="/comment/<%= character.id %>" method="post">
                    <textarea name="comment" placeholder="Voeg commentaar toe aan je favoriete skin..."></textarea>
                    <button type="submit" class="button-48" role="button"><span class="text">Voeg toe</span></button>
                </form>
            <% } %>
            

        </article>
        <article>
            <h2>Scoreboard</h2>
            <div class="row scoreboard">
                <div class="score">
                    <p>Gewonnen</p>
                    <div class="count-container">
                        <input type="number" name="winCount" id="winCount" value="<%= character.wins || 0 %>" readonly>
                        <div class="btn-container">
                            <button class="btn minus" onclick="removeWin()"></button>
                            <button class="btn plus" onclick="addWin()"></button>
                        </div>
                    </div>
                </div>
                <div class="score">
                    <p>Verloren</p>
                    <div class="count-container">
                        <input type="number" name="lossCount" id="lossCount" value="<%= character.losses || 0 %>"
                            readonly>
                        <div class="btn-container">
                            <button class="btn minus" onclick="removeLoss()"></button>
                            <button class="btn plus" onclick="addLoss()"></button>
                        </div>
                    </div>
                </div>

            </div>
            <form id="scoreForm" action="/detailpagina/<%= character.id %>" method="post" style="display: none;">
                <input type="hidden" id="winCountInput" name="winCount" value="<%= character.wins || 0 %>">
                <input type="hidden" id="lossCountInput" name="lossCount" value="<%= character.losses || 0 %>">
            </form>
            <button class="button-48" role="button" onclick="saveScore()"><span class="text">Opslaan</span></button>


            <h2>Kies je uitrusting</h2>
            <div class="row">
                <div class="score">
                    <img src="<%= character.pickaxe %>" alt="emote" class="item">
                    <form action="/pickaxe/<%= character.id %>/" method="post">
                        <button class="button-48" name="pickaxe" value="<%= character.pickaxe %>" role="button">
                            <span class="text">Genereer wapen</span>
                        </button>
                    </form>
                    <% if (character.pickaxe !=='/assets/images/mysteryitem.webp' ) { %>
                        <form action="/deletepickaxe/<%= character.id %>/" method="post">
                            <button name="deletepickaxe" value="<%= character.pickaxe %>" class="cros"
                                style="color: red;">
                                ✖
                            </button>
                        </form>
                        <% } %>
                </div>
                <div class="score">
                    <img src="<%= character.backpack %>" alt="pump" class="item">
                    <form action="/backpack/<%= character.id %>/" method="post">
                        <button class="button-48" name="backpack" value="<%= character.backpack %>" role="button">
                            <span class="text">Genereer rugzak</span>
                        </button>
                    </form>
                    <% if (character.backpack !=='/assets/images/mysteryitem.webp' ) { %>
                        <form action="/deletebackpack/<%= character.id %>/" method="post">
                            <button name="deletebackpack" value="<%= character.backpack %>" class="cros"
                                style="color: red;">
                                ✖
                            </button>
                        </form>
                        <% } %>
                </div>
            </div>

        </article>
    </section>
    <%- include('partials/footer.ejs') %>