<%- include('partials/header.ejs') %>
  <script src="js/searchSkin.js" defer></script>
  <script src="js/filterbyRarity.js" defer></script>
  <script src="js/sortOptions.js" defer></script>

  <h1 class="bio">Verken je Fortnite-avatars: bekijk ze van dichterbij voordat je gaat vechten!</h1>

  <%- include('partials/sortfunctions.ejs') %>

        <section class="characters-list">
            <% for (let character of fortnite) { %>
                    <article class="cards-list" data-rarity="<%= character.rarity.value %>"
                        data-added="<%= character.added %>">
                        <a href="/detailpagina/<%=character.id%>">
                        <div class="card-item">
                            <div class="card_photo">
                                <img src="<%= character.images.icon %>" alt="Skinfoto"
                                    style="background-image: url('../assets/images/<%= character.rarity.value %>.webp');">
                            </div>
                            <div class="card_name">
                                <p>
                                    <%= character.name %> <br>
                                        <button class="cross" style="color: red;"">
                                            ✖
                                        </button>
                                </p>
                            </div>
                        </div>
                        </a>
                    </article>
                        <% } %>
        </section>

        <%- include('partials/footer.ejs') %>