<%- include('partials/header.ejs') %>
  <script src="js/searchSkin.js" defer></script>
  <script src="js/filterbyRarity.js" defer></script>
  <script src="js/sortOptions.js" defer></script>
  
        <section class="characters-list" >
            <h1 class="bio" id="characters">Verken je favoriete Fortnite-avatars. <br> Bekijk ze van dichtbij!</h1>

            <%- include('partials/sortfunctions.ejs') %>
            <%if(profile.favoriteCharacter !== undefined){%>
            <% for (let character of profile.favoriteCharacter) { %>
                    <article class="cards-list" data-rarity="<%= character.rarity.value %>"
                        data-added="<%= character.added %>">
                        <a href="/detailpagina/<%=character.id%>">
                        <div class="card-item">
                            <div class="card_photo">
                                <img src="<%= character.images.icon %>" alt="Skinfoto"
                                    style="background-image: url('../assets/images/<%= character.rarity.value %>.webp');">
                            </div>
                            <div class="card_name">
                                <p>
                                    <%= character.name %> <br>
                                    <form action="/deletefavorite/<%= character.id %>" method="post">
                                        <button name="deletefavorite" value="<%= character.id%>" class="cross" style="color: red;">
                                            ✖
                                        </button>
                                    </form>
                                </p>
                            </div>
                        </div>
                        </a>
                    </article>
                        <% } %>
        </section>
        <%}%>

        <%- include('partials/footer.ejs') %>