<%- include('partials/header.ejs') %>
    <section class="frontpageh1">
        <h1>Fortnite</h1>
        <h2>De toekomst van Fortnite is hier.</h2> <br>
        <button>Ontdek nu!</button>
    </section>

    <h1 class="bio">Bereid je voor op de strijd door een van deze avatars te kiezen!</h1>

    <section class="searchoptions">
        <input
         type="text" id="quicksearch" class="quicksearch" placeholder="Zoeken...">

        <section>

            <select class="sortoption" placeholder="Filter">
                <option>Filter</option>
                <option>Common</option>
                <option>Uncommon</option>
                <option>Rare</option>
                <option>Epic</option>
                <option>Legendary</option>
                <option>----------</option>
                <option>Dark</option>
                <option>DC</option>
                <option>Frozen</option>
                <option>GamingLegends</option>
                <option>Icon</option>
                <option>Lava</option>
                <option>Marvel</option>
                <option>Shadow</option>
                <option>Slurp</option>
                <option>Starwars</option>
            </select>

            <select class="sortoption" placeholder="Sort">
                <option>Sort</option>
                <option>Name</option>
                <option>Date</option>
                <option>Price</option>
                <option>Rarity</option>
            </select>
        </section>
    </section>

    <section class="characters-list">
        <% for (let character of fortnite) {%>
            <% if (character.name !=="TBD" && character.name !==null && character.name !=="NPC" && character.name
                !=="Agent Jonesy" && character.images.featured !==null) { %>
                <article class="cards-list">
                    <div class="card-item">
                        <div class="card_photo">
                            <img src="<%= character.images.icon %>" alt="Skinfoto"
                                style="background-image: url('../assets/images/<%=character.rarity.value%>.webp');">
                        </div>
                        <div class="card_name">
                            <p>
                                <%= character.name %>
                            </p>
                        </div>
                    </div>
                    </a>
                </article>
                <% } %>
                    <% } %>
    </section>

    <%- include('partials/footer.ejs') %>