<%- include('partials/header.ejs') %>
<script src="js/searchSkin.js" defer></script>
<script src="js/filterbyRarity.js" defer></script>
<script src="js/sortOptions.js" defer></script>
    <section class="frontpageh1">
        <h1>Fortnite</h1>
        <h2>De toekomst van Fortnite is hier.</h2> <br>
        <button>Ontdek nu!</button>
    </section>

    <h1 class="bio">Bereid je voor op de strijd door een van deze avatars te kiezen!</h1>

    <section class="searchoptions">
        
        <input type="text" id="quicksearch" class="quicksearch" placeholder="Zoeken...">

        <section class="sortandfilter">
            <select class="sortoption" name="rarity" id="rarityFilter" placeholder="Filter">
                <option value="">Filter</option>
                <option value="uncommon">Uncommon</option>
                <option value="rare">Rare</option>
                <option value="epic">Epic</option>
                <option value="legendary">Legendary</option>
                <option value="gaminglegends">Gaming Legends</option>
                <option value="dark">Dark</option>
                <option value="icon">Icon</option>
                <option value="frozen">Frozen</option>
                <option value="dc">DC</option>
                <option value="lava">Lava</option>
                <option value="marvel">Marvel</option>
                <option value="shadow">Shadow</option>
                <option value="slurp">Slurp</option>
                <option value="starwars">Starwars</option>
            </select>

            <select class="sortoption" id="sortBy" placeholder="Sort">
                <option value="">Sort</option>
                <option value="name">Naam</option>
                <option value="date">Datum (Nieuwste eerst)</option>
                <option value="rarity">Zeldzaamheid</option>
            </select>
        </section>
    </section>

    <section class="characters-list">
        <% for (let character of fortnite) { %>
            <% if (character.name !=="TBD" && character.name !==null && character.name !=="NPC" && character.name
                !=="Agent Jonesy" && character.images.featured !==null) { %>
                <article class="cards-list" data-rarity="<%= character.rarity.value %>" data-added="<%= character.added %>">
                    <div class="card-item">
                        <div class="card_photo">
                            <img src="<%= character.images.icon %>" alt="Skinfoto"
                                style="background-image: url('../assets/images/<%= character.rarity.value %>.webp');">
                        </div>
                        <div class="card_name">
                            <p>
                                <%= character.name %>
                            </p>
                        </div>
                    </div>
                </article>
                <% } %>
                    <% } %>
    </section>

    <%- include('partials/footer.ejs') %>